/* Your CSS styles here! */

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the header */
header {
    background-color: #C6E2FF;
    color: #F1C27D;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #DAA520;
    font-size: 2em;
}

a {
    color: #DAA520;
    margin-right: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-image: url('./img/BackgroundImage.jpg');
    background-size: cover;
}

/* Centering the nav element */
nav {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #DAA520;
    margin-top: 20px;
    margin-bottom: 20px;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #DAA520;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-container label,
.search-container input,
.search-container button {
    margin-right: 10px;
}

#imageContainer {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imageMessage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

section {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.special-section {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}